#f03
{
    font-size: 50px;
    text-align: center;

}
.logo
{
    width: 460px;
    height: 200px;
    
}
body
{
    background-color: rgb(255, 247, 241);

}
.nav
{
    background-color: rgb(190, 209, 207);
    overflow: hidden;
}
.nav a
{
  float: left;
  color: black;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 20px;
  
  
}
.nav a:hover
{
    background-color: grey;
    color:black;
}
button
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 14px 40px;
    border-radius: 12px;
    transition-duration: 0.4s;
    background-color: white;
    width: 20%;
    font-size: 20px;
    font-style: Monaco;
}
button:hover
{
    background-color: grey;
    color:black;
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}
#login
{
    position:absolute;
    top: 130px;
    right:20px;
    width: 200px;
    background-color: #FBF9F1;
}   
.centerb01
{
      position:absolute;
      right: 240px;
      top: 130px;
      display: block;
      padding: 14px 40px;
      border-radius: 12px;
      transition-duration: 0.4s;
      background-color: #FBF9F1;
      width: 200px;
      
}
.form
{
    position:absolute;
    top: 25%;
    left: 30%;
}
legend
{
    font-size: 20px;
}
#fname
{
    width: 60%;
}
#lname
{
    width: 60%;
}
#email
{
    width: 60%;
}
#number
{
    width: 60%;
}
#submit
{
    display: block;
    left: 10%;
    bottom: 10%;
    padding: 14px 40px;
    border-radius: 12px;
    transition-duration: 0.4s;
    background-color: white;
    width: 20%;
}
fieldset
{
    position:absolute;
    top: 150px;
    border-color: #E78895;
    border-radius: 8px;
    width: 650px;
    height: 350px;
    fill-opacity: #E78895;
    padding: 25px;
}

.copyrights
{
    text-align: left-end;
    font-size: 14px;
    color: black;
    padding: 10px 0;
}


